<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @village.name %>
</p>

<p>
  <b>Commune:</b>
  <%= @village.commune_id %>
</p>


<%= link_to 'Edit', edit_village_path(@village) %> |
<%= link_to 'Back', villages_path %>
